/build/
/devel/
/src/orbslam3/lib/build/
/src/orbslam3/lib/lib/
/src/orbslam3/lib/Examples/Monocular/mono_euroc
/src/orbslam3/lib/Examples/Monocular/mono_kitti
/src/orbslam3/lib/Examples/Monocular/mono_tum
/src/orbslam3/lib/Examples/Monocular/mono_tum_vi
/src/orbslam3/lib/Examples/Monocular-Inertial/mono_inertial_euroc
/src/orbslam3/lib/Examples/Monocular-Inertial/mono_inertial_tum_vi
/src/orbslam3/lib/Thirdparty/DBow2/build/
/src/orbslam3/lib/Thirdparty/DBow2/lib/
/src/orbslam3/lib/Thirdparty/g2o/build/
/src/orbslam3/lib/Thirdparty/g2o/lib/
/src/orbslam3/lib/Voabulary/
/src/orbslam3/lib/Examples/Monocular-Inertial/EuRoC_IMU/
/src/orbslam3/lib/Examples/Monocular-Inertial/EuRoC_TimeStamps/
/src/orbslam3/lib/Examples/Monocular-Inertial/TUM_IMU/
/src/orbslam3/lib/Examples/Monocular-Inertial/TUM_TimeStamps/
/src/orbslam3/lib/Examples/Monocular/EuRoC_TimeStamps/
/src/orbslam3/lib/Examples/Monocular/TUM_TimeStamps/
/src/orbslam3/lib/Thirdparty/DBoW2/build/
/src/orbslam3/lib/Vocabulary/

